<div class="main-container">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: rgb(170, 14, 14);font-style: italic;">FlipYkart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home" style="color: black;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="offers">Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">seller</a>
          </li>
          <div class="container-fluid" style="float:inline-end;">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search item . . . . . . . . . . . ."
                aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </ul>
        <span class="navbar-text">
          <form class="container-fluid justify-content-start">
            <a routerLink="login"><button class="btn btn-outline-success me-2" type="button">LOGIN</button></a>
            <button class="btn btn-sm btn-outline-secondary" type="button">contact us</button>
          </form>
        </span>
      </div>
    </div>
  </nav>
  <div class="componenet-container">
    
<router-outlet>
  <!-- <app-home></app-home>
<app-cart></app-cart>
<app-offers></app-offers>
<app-seller></app-seller>
 <app-login></app-login>
<app-contact></app-contact> -->
</router-outlet>
  </div>
</div>
